/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.qe-testimonial-wrapper {
  margin-bottom: 1.8em;
  overflow: hidden;
}
.qe-testimonial-wrapper .qe-testimonial-text {
  font-size: 1em;
  margin: 1em;
  line-height: 1.6em;
  border: none;
  padding: 0;
  background: transparent;
}
.qe-testimonial-wrapper .qe-testimonial-text p {
  text-align: center;
  font-size: 1.1em;
  line-height: 1.5em;
  font-style: italic;
  font-weight: 400;
}
.qe-testimonial-wrapper .qe-testimonial-img {
  margin: 1em 0;
  text-align: center;
}
.qe-testimonial-wrapper .qe-testimonial-img a {
  display: inline-block;
  border: none;
  box-shadow: none;
}
.qe-testimonial-wrapper .qe-testimonial-img img.avatar {
  display: inline-block;
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}
.qe-testimonial-wrapper .qe-testimonial-author {
  text-align: center;
  font-style: normal;
}
.qe-testimonial-wrapper .qe-testimonial-author span {
  display: block;
}
.qe-testimonial-wrapper .qe-testimonial-name {
  font-size: 1.1em;
}
.qe-testimonial-wrapper .qe-testimonial-byline {
  font-size: 0.9em;
}
